apm/EM/EM_RUNTIME/config/shibboleth/schema/shibboleth-2.0-idp-profile-handler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:mace:shibboleth:2.0:idp:profile-handler" xmlns:service="urn:mace:shibboleth:2.0:services" targetNamespace="urn:mace:shibboleth:2.0:idp:profile-handler" elementFormDefault="qualified">

    <xsd:include schemaLocation="classpath:/schema/shibboleth-2.0-profile-handler.xsd"/>

    <xsd:import namespace="urn:mace:shibboleth:2.0:services" schemaLocation="classpath:/schema/shibboleth-2.0-services.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            This schema specifies the configuration options for Shibboleth IdP profile handlers.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="IdPProfileHandlerManager">
        <xsd:annotation>
            <xsd:documentation>Definition for the basic Shibboleth profile handler manager service.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="service:ReloadableServiceType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="ProfileHandlerGroup">
        <xsd:annotation>
            <xsd:documentation>Root of a profile handler configuration file.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ErrorHandler" type="ErrorHandlerType"/>
                <xsd:element name="ProfileHandler" type="RequestHandlerType" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="LoginHandler" type="LoginHandlerType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Status">
        <xsd:annotation>
            <xsd:documentation>Basic handler that returns a general status of the IdP.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="RequestURIMappedProfileHandlerType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAMLMetadata">
        <xsd:annotation>
            <xsd:documentation>Basic handler that returns a general status of the IdP.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="RequestURIMappedProfileHandlerType">
                <xsd:attribute name="metadataFile" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>Location of the static IdP metadata file.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="parserPoolRef" type="xsd:string" default="shibboleth.ParserPool">
                    <xsd:annotation>
                        <xsd:documentation>Reference to the parser pool used to parse the metadata.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2SSO">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 SSO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="authenticationManagerPath" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The context relative path to the authentication manager used by this profile handler. This
                            should match the URL pattern given in the web.xml
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2SLO">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 SLO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="templatePath" type="xsd:string" default="logout.jsp">
                    <xsd:annotation>
                        <xsd:documentation>
                            Filesystem path to the template used to render the local logout UI.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="velocityEngine" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of the Spring configured Velocity engine. Deployers should almost never change this
                            value.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2ECP">
        <xsd:annotation>
            <xsd:documentation>Configuration type for ECP SAML 2 SSO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="authnContextClassRef" type="xsd:anyURI">
                    <xsd:annotation>
                        <xsd:documentation>
                            A context class reference to insert into the assertions generated by the handler.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2AttributeQuery">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 Attribute Query profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2ArtifactResolution">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 2 artifact resolution profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML2ProfileHandler">
                <xsd:attribute name="artifactMapRef" type="xsd:string" default="shibboleth.ArtifactMap">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to SAMLArtifactMap used by handler to resolve artifact strings into artifact
                            objects.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML2ProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for SAML 2 profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAMLProfileHandler"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ShibbolethSSO">
        <xsd:annotation>
            <xsd:documentation>Configuration type for Shibboleth 1 SSO profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML1ProfileHandler">
                <xsd:attribute name="authenticationManagerPath" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The context relative path to the authentication manager used by this profile handler. This
                            should match the URL pattern given in the web.xml
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML1AttributeQuery">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 1 Attribute Query profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML1ProfileHandler"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML1ArtifactResolution">
        <xsd:annotation>
            <xsd:documentation>Configuration type for SAML 1 artifact resolution profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAML1ProfileHandler">
                <xsd:attribute name="artifactMapRef" type="xsd:string" default="shibboleth.ArtifactMap">
                    <xsd:annotation>
                        <xsd:documentation>
                            Reference to SAMLArtifactMap used by handler to resolve artifact strings into artifact
                            objects.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAML1ProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for SAML 1 profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SAMLProfileHandler"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SAMLProfileHandler" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for Shibboleth IdP SAML profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="IdPProfileHandlerType">
                <xsd:attribute name="idGeneratorId" type="xsd:string" default="shibboleth.IdGenerator">
                    <xsd:annotation>
                        <xsd:documentation>
                            The component ID of a generator used to generated things like response and assertion IDs.

                            This setting should not be changed from its default unless the deployer fully understands
                            the inter-relationship between IdP components.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="inboundBinding" type="xsd:anyURI" use="required">
                    <xsd:annotation>
                        <xsd:documentation>The SAML message binding used by inbound messages.</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="outboundBindingEnumeration">
                    <xsd:annotation>
                        <xsd:documentation>
                            An ordered list of outbound bindings supported by this profile handler. The order provided
                            establishes the precedence given the bindings such that, from the left to right, the first
                            binding also supported by the relying party will be used.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:list itemType="xsd:anyURI"/>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IdPProfileHandlerType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for IdP profile handlers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ShibbolethProfileHandlerType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PreviousSession">
        <xsd:complexContent>
            <xsd:extension base="LoginHandlerType">
                <xsd:attribute name="servletPath" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            DEPRECATED. Optional servlet path to which the browser may be redirected.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="reportPreviousSessionAuthnMethod" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Whether this login handler should report its authentication method as PreviousSession or the
                            authentication method requested by the peer.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="supportsPassiveAuthentication" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            DEPRECATED. Whether this login handler, when redirecting to a servlet, support passives authentication.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="ExternalAuthn">
        <xsd:complexContent>
            <xsd:extension base="LoginHandlerType">
                <xsd:attribute name="externalAuthnPath" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The servlet context path to the
                            edu.internet2.middleware.shibboleth.idp.authn.provider.ExternalAuthnSystemServlet instance
                            protected by an external authentication system that is integrated with the web server, Servlet
                            container, or IdP.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="supportsForcedAuthentication" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates whether the external authentication supports force re-authentication.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="supportsPassiveAuthentication" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            Indicates whether the external authentication supports passive authentication.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RemoteUser">
        <xsd:complexContent>
            <xsd:extension base="LoginHandlerType">
                <xsd:attribute name="protectedServletPath" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The servlet context path to the
                            edu.internet2.middleware.shibboleth.idp.authn.provider.RemoteUserAuthServlet instance
                            protected by the container or web server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="UsernamePassword">
        <xsd:complexContent>
            <xsd:extension base="LoginHandlerType">
                <xsd:attribute name="jaasConfigurationLocation" type="xsd:anyURI">
                    <xsd:annotation>
                        <xsd:documentation>
                            Location of the JAAS configuration. If this attribute is used it will usually contain a file
                            URL to a configuration on the local filesystem. However, this attribute need not be used and
                            this information can be set within the VM in any manner supported by the JVM/container
                            implementation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="authenticationServletURL" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The servlet context path to the
                            edu.internet2.middleware.shibboleth.idp.authn.provider.UsernamePasswordAuthenticationServlet
                            that will authenticate the user.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IPAddress">
        <xsd:complexContent>
            <xsd:extension base="LoginHandlerType">
                <xsd:sequence>
                    <xsd:element name="IPEntry" type="xsd:string" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                An IP addresses in CIDR notation. For example, a single IP address of 192.168.1.1 would
                                have the CIDR notation of 192.168.1.1/32. For the entire 192.168.0.0 class B network,
                                the CIDR notation would be 192.168.0.0/16.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="username" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The username that will be presented to the IdP for all IP-address authenticated users.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="defaultDeny" type="xsd:boolean">
                    <xsd:annotation>
                        <xsd:documentation>
                            If defaultDeny is true then only the IP addresses listed will be "authenticated." If
                            defaultDeny is false, then all IP addresses except those listed will be authenticated.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LoginHandlerType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>Base type for authentication handler types.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="AuthenticationMethod" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        The authentication methods supported by this handler. In SAML these methods represent the SAML 2
                        authentication contexts class and declaration reference URIs.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="authenticationDuration" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The length of time that an authentication performed by this handler should be
                    considered active. After which time a user, previously authenticated by this handler, must
                    re-authenticate in order to assert the authentication method again.
                    
                    This duration should be expressed in ISO8601 format.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

</xsd:schema>
